section {
  text-align: center;
}
button {
  background-color: #ffffff;
  color: #2e2e2e;
  border: 2px solid #57abab;
  border-radius: 50px;
}
button:hover {
  background-color: #57abab;
  color: white;
  box-shadow: 8px 8px 0 #ffffff;
}
select {
  width: 200px;
  padding: 15px;
  border: 2px solid #57abab;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #2e2e2e;
}
